body {
    display: flex;
    overflow: hidden;
}

.navegation-vertical {
    width: 200px;
    height: 100vh;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navegation-horizontal {
    position: fixed;
    background-color: #fda400;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.logo {
    color: #fefefe;
}

.btn-menu {
    background:none;
    border: none;
    color: #fefefe;
    margin-right: 20px;
    width: 35px;
    height: 35px;
}

.menu-icon {
    width: 100%;
    color: rgb(253, 164, 0);
}

.box-btn-nav-responsive {
    width: 100%;
    height: 250px;
    background-color: #b67600;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: -300px;
    transition: 1s;
}

.menu-desplegado {
    top: 50px;
}

.box-logo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-nav {
    margin: 10px 0 10px 20px;
    color: #fefefe;
    background-color: #141414;
    border: none;
    cursor: pointer;
    font-size: 13px;
}

.btn-nav:hover {
    color: #fab22d;
}

.btn-clicked {
    color: #fab22d;
}

.big {
    font-size: 17px;
}

.divisor {
    width: 90%;
    border: none;
    height: 2px;
    background-color: #fda400;
    margin: 10px auto 10px auto;
}

.vertical-divisor {
    width: 3px;
    height: 100vh;
    background-color: #fda400;
}

.responsive {
    background-color: #744b00;
    border: none;
    height: 2px;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    padding: 50px;
    color: #fefefe;
    overflow: scroll;
    overflow-x: hidden;
}

.box-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img {
    width: 70%;
    margin: 40px;
    border: 2px solid #fda400;
}

.img-vertical {
    margin: 40px;
    border: 2px solid #fda400;
}

.titulo {
    font-size: 50px;
    margin: 30px 0 30px 0;
}

.seccion {
    margin: -30px 0 10px 0;
}

.subtitulo {
    font-size: 35px;
    margin: 30px 0 10px 0;
}

.parrafo {
    margin: 20px 0 10px 0;
    font-weight:500;
    text-align: justify;
}

a {
    color:#fda400;
    text-decoration: none;
}

@media (max-width: 1000px) {
    .img {
        width: 100%;
        margin: 40px;
        border: 2px solid #fda400;
    }
    
    .img-vertical {
        margin: 40px;
        border: 2px solid #fda400;
    }
}

@media (max-width: 780px) {
    main {
        padding: 10px;
    }

    .navegation-vertical {
        display: none;
    }

    .vertical-divisor {
        display: none;
    }

    .btn-nav {
        background:none;
        margin-right: 10px;
    }

    .seccion {
        margin-top: 60px;
    }

    .navegation-horizontal {
        display: flex;
    }

    .logo {
        color: #fefefe;
        margin-left: 10px;
    }
}


